@import url('@simonwep/pickr/dist/themes/nano.min.css');
@import url('./lib/medium-editor.css');
@import url('./lib/medium-editor-beagle.css');

:root {
  /* Legatus */
  --Einstellungen: 9, 100%, 64%;
  --Tab-Schalter: hsla(var(--Einstellungen), .8);
  --Tab-Schalter-Hover: hsla(var(--Einstellungen), 0.2);
  --Eingabegrenze-HLS: 0, 0%, 13%;
  --Einstellungen-Knopf: hsla(var(--Einstellungen), 1);
  --Einstellungen-Knopf-Hover: hsla(var(--Einstellungen), 0.8);
}


/* #region 3rd party*/
.pickr button {
  min-width: unset !important;
}

.pickr {
  width: 100%;
  margin-bottom: 1em;
}

.pcr-app[data-theme=nano] {
  width: 15em;
}

.medium-toolbar-arrow-under::after {
  border-color: hsl(var(--Einstellungen)) transparent transparent transparent;
}

.medium-editor-toolbar li button {
  color: white;
}

.medium-editor-toolbar li .medium-editor-button-active,
.medium-editor-toolbar li button:hover {
  color: #3e3e3e;
}

.medium-editor-toolbar li .medium-editor-button-active,
.medium-editor-toolbar li button:hover,
.medium-editor-toolbar {
  background-color: hsl(var(--Einstellungen));
}

.medium-editor-toolbar {
  filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, .2));
}

.medium-editor-toolbar li button:focus {
  box-shadow: none;
}

.medium-editor-toolbar li button {
  transition: none;
}

/* #endregion */

.Einstellungen>*:not(nav) {
  transition: transform .2s;
  width: 100%;
  flex: 1 0 auto;
  padding: 0 15px;
  overflow: auto;
  will-change: transform;
  contain: content;
}

.Einstellungen.thema-einstellungen .Einstellungen__Nav::before {
  transform: translateX(100%);
}

.Einstellungen.thema-einstellungen .Umschalten__Fenstern:last-of-type,
.Einstellungen:not(.thema-einstellungen) .Umschalten__Fenstern:first-of-type {
  color: white;
}

.Einstellungen__Nav {
  left: 0;
  top: 0;
  /* color: #212121; */
  position: absolute;
  border-bottom: 1px solid var(--Tab-Schalter);
  justify-content: space-between;
  right: 0;
  margin: 5px 12px 0;
  z-index: 1;
  background-color: white;
}

.Einstellungen__Nav::before {
  content: '';
  position: absolute;
  width: 50%;
  left: 0;
  height: 100%;
  pointer-events: none;
  background-color: var(--Tab-Schalter);
  z-index: -1;
  top: 0;
  border-radius: 3px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  display: block;
  transition: transform .2s;
}

.Umschalten__Fenstern:focus,
.Umschalten__Fenstern:hover {
  background-color: var(--Tab-Schalter-Hover);
}

.Umschalten__Fenstern {
  background-color: transparent;
  border: 0;
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  padding: 5px 0;
  display: block;
  text-align: center;
  color: #89919a;
  ;
  flex: 1;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.Formen {
  padding: 1rem 0;
}

.Formen [type=file] {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  width: 0;
  height: 0;
}

.Formen form {
  max-width: 272px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.Formen [contenteditable]>p {
  margin: 0;
  width: 100%;
}

.Formen [contenteditable],
.Formen input,
.Formen textarea {
  border: 1px solid transparent;
  border-bottom: 2px solid transparent;
  background-color: whitesmoke;
  color: #212121;
  margin-bottom: .5rem;
  padding: 0.25rem;
  text-align: center;
}

.Formen [contenteditable]:focus,
.Formen input:focus,
.Formen textarea:focus,
.Formen [contenteditable]:hover,
.Formen input:hover,
.Formen textarea:hover {
  background-color: #ccc;
  border-bottom: 2px solid #777777;
}

.Formen label.file_label svg {
  margin-right: 10px;
}

.Formen [type=file]:focus+label,
.Formen label.file_label:focus,
.Formen label.file_label:hover {
  background-color: var(--Einstellungen-Knopf-Hover);
}

.Formen label.file_label {
  cursor: pointer;
  padding: 10px;
  width: 45%;
  background-color: var(--Einstellungen-Knopf);
  border-radius: 3px;
  color: white;
  font-size: 0.875rem;
  margin-bottom: .5rem;
  text-transform: uppercase;
}

.Formen .Formularaktionen {
  background-color: white;
  position: sticky;
  bottom: 0;
  padding: 1rem 0;
  width: 100%;
  text-align: center;
}

.Formen .Formularaktionen [type=submit]:hover {
  background-color: var(--Einstellungen-Knopf-Hover);
}

.Formen .Formularaktionen [type=submit] {
  background-color: var(--Einstellungen-Knopf);
  color: white;
  padding: 0.4rem 1rem;
}

.Feld_entfernen {
  position: absolute;
  right: -0.5rem;
  top: 0;
  background-color: transparent;
  color: var(--Einstellungen-Knopf);
  padding: 0;
  width: 1.5rem;
  transition: transform .2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.Feld_entfernen:hover {
  transform: scale(1.3);
  color: var(--Einstellungen-Knopf-Hover);
}

/* #region Papierkorb*/
/* .Papierkorb {
  width: 30px;
  height: 22px;
  opacity: 0.5;
  vertical-align: middle;
  cursor: pointer;
  transition: opacity 200ms;


  top: 1em;
  right: 0;
  position: absolute;

  appearance: none;
  background: none;
  border: none;
  cursor: pointer;
  display: inline-block;
  outline: none;
  padding: 0;
}

.Deckel {
  transform-origin: -7% 100%;
  transition: transform 150ms;
  height: 6px;
  width: 14px;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAQCAYAAAAmlE46AAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAHpJREFUKM/lkUsOwCAIBecGeCJOSuKqXpMuioa09uO6ixcTnUEU3J0eQAEDWooBmrlgp/BdRhFmkruPnM9EZHN3ZQbfJbHGQpsNaKWUXgRdEWutx43x0Nd2T4xexKc1ifxS/PirQ7SV4WdRRWR7k/rwhxjR2Hxq2YJjBzbopxlpotZQAAAAAElFTkSuQmCC") 0 0 no-repeat;
  left: 8px;
  position: absolute;
  right: 8px;
  top: 2px;
}

.Papierkorb:hover {
  opacity: 1;
}

.Papierkorb:hover .Deckel {
  transform: rotate(-45deg);
  transition: transform 250ms;
}

.Dose {
  height: 12px;
  margin-left: 1px;
  margin-right: 2px;
  margin-top: 4px;
  width: 11px;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAQCAYAAAAmlE46AAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAHpJREFUKM/lkUsOwCAIBecGeCJOSuKqXpMuioa09uO6ixcTnUEU3J0eQAEDWooBmrlgp/BdRhFmkruPnM9EZHN3ZQbfJbHGQpsNaKWUXgRdEWutx43x0Nd2T4xexKc1ifxS/PirQ7SV4WdRRWR7k/rwhxjR2Hxq2YJjBzbopxlpotZQAAAAAElFTkSuQmCC") -1px -4px no-repeat;
  left: 8px;
  position: absolute;
  right: 8px;
  top: 2px;
} */

/* #endregion */

.Formen .Feld {
  margin: 0;
  padding: .5rem;
  border: 0;
  border-radius: 2px;
  background-color: whitesmoke;
  font-size: 0.875rem;
  box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, .2);
  margin-bottom: 1rem;
  width: 100%;
  position: relative;
}

.Formen .Feld__Untertitel {
  font-weight: 500;
  color: white;
  background-color: hsla(var(--Einstellungen), 1);
  padding: .25rem;
  border-radius: 3px;
}

.Formen .Feld input {
  text-align: left;
  width: 100%;
  display: block;
}

.Formen .hinzufuegen span {
  margin-left: 5px;
}

.Formen .hinzufuegen {
  background-color: var(--Einstellungen-Knopf);
  color: white;
  font-size: 0.75rem;
  padding: .3em 0.5em .25em;
}

.Formen .hinzufuegen:hover {
  background-color: var(--Einstellungen-Knopf-Hover);
}

.Wichtigsten {
  padding: 0.5rem 0;
}

.Wichtigsten__Vorschau {
  width: calc(45vmin * (9 / 16));
  height: 45vmin;
  margin: 0 5px;
  /* background-color: #686868; */
  cursor: pointer;
}

.Wichtigsten__Vorschau:hover {
  box-shadow: 0 0 0 4px hsla(var(--Einstellungen), .4);
}

.Wichtigsten__Vorschau--aktiv {
  box-shadow: 0 0 0 4px hsla(var(--Einstellungen), .8);
}


.Theme_Einstellungen_Form {
  max-width: 400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.Theme_Einstellungen_Form button:disabled {
  filter: grayscale(100%);
  cursor: auto;
}

.Theme_Einstellungen_Form button {
  color: white;
  -webkit-appearance: none;
  appearance: none;
  border: 0;
  border-radius: 3px;
  min-width: 6em;
  background-color: hsl(var(--Einstellungen));
  padding: 0.5em 1em;
  transition: color .2s, filter .2s;
}

.Theme_Einstellungen_Form button.kontur {
  color: hsl(var(--Einstellungen));
  background-color: transparent;
  box-shadow: inset 0 0 0 2px hsl(var(--Einstellungen));
}

.Theme_Einstellungen_Form label {
  font-size: 0.875rem;
  font-weight: 500;
  width: 100%;
}

.Theme_Einstellungen_Form input {
  padding: 0.5rem;
  width: 100%;
  background-color: transparent;
  -webkit-appearance: none;
  appearance: none;
  margin-bottom: 1em;
  border: none;
}

.Theme_Einstellungen_Form input[type=text]:focus {
  border-color: hsla(var(--Eingabegrenze-HLS), 1);
}

.Theme_Einstellungen_Form input[type=text] {
  border: 2px solid hsla(var(--Eingabegrenze-HLS), 0.2);
}

.Theme_Einstellungen_Form input[type=color] {
  cursor: pointer;
  height: 2em;
  width: 2em;
  padding: 0;
  /* padding: 2em; */
}