@import url('./nav.css');
@import url('./Galerie.css');
@import url('./Viewer.css');
@import url('system-font-css');

:root {
  /* Farben */
  /* Normale */
  --Sendungen: hsl(210, 100%, 56%);
  --Knopf: hsl(210, 100%, 56%);
  --Hover-Farbe: hsl(210, 50%, 56%);

  /* Kopfzeilenfarbe */
  --Kopfzeilenfarbe: linear-gradient(90deg, var(--Sendungen) 50%, hsl(var(--Einstellungen, darkgrey)) 50%);
}

button {
  cursor: pointer;
  border: 0;
}

button:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, .2);
}

@media (prefers-reduced-motion: reduce) {

  *,
  *::after,
  *::before {
    animation-duration: 0.001s !important;
    transition-duration: 0.001s !important;
  }
}

*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

*::-webkit-scrollbar-track {
  background: #f1f1f1;
}

*::-webkit-scrollbar-thumb {
  background: #888;
}

*::-webkit-scrollbar-thumb:hover {
  background: #555;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: 'Roboto', system-ui;
}

body {
  color: #212121;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.spinner::after,
.spinner::before {
  content: '';
  display: block;
  position: absolute;
}

.spinner:not(.geladen)::before {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .2);
  z-index: 2;
  cursor: wait;
  opacity: 1;
}

.spinner:not(.geladen)::after {
  box-sizing: border-box;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #ccc;
  border-top-color: #212121;
  animation: spinner .6s linear infinite;
  z-index: 2;
  pointer-events: none;
  opacity: 1;
  transform: unset;
}

.unselectable {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.Sterntaster svg {
  display: block;
}

.Sterntaster {
  display: block;
  background-color: transparent;
  border: 0;
  padding: 0;
  width: 2em;
  box-sizing: content-box;
  color: #FFD700;
}

.Sterntaster[Liebling] svg:first-child {
  display: block;
  animation-name: heartBeat;
  animation-duration: 1.3s;
  animation-timing-function: ease-in-out;
  animation-duration: 1s;
  animation-fill-mode: both;
}

.Sterntaster[Liebling] svg:last-child {
  display: none;
}

.Sterntaster svg:first-child {
  display: none;
}

.Titel--sekundaer {
  font-size: 1.2rem;
  font-weight: 500;
}

.Flexible--inline {
  display: inline-flex;
}

.Flexible {
  display: flex;
}

.Flexible--j-center {
  justify-content: center;
}

.Flexible--a-center {
  align-items: center;
}

.Flexible--j-evenly {
  justify-content: space-evenly;
}

.Nav,
.Main {
  height: 100%;
}

.Main {
  flex: 1;
  flex-direction: column;
  width: 100%;
  overflow: auto;
}

.Main__Titel {
  font-weight: 500;
  font-size: 1.5rem;
}

.Main__Kopf {
  position: relative;
  justify-content: space-between;
  padding: 0 15px;
  box-shadow: 1px 0 5px 0 rgba(148, 148, 148, 0.3);
  overflow: hidden;
}

.Main__Kopf.wechseln::after {
  transform: translateX(-50%);
}

.Main__Kopf.wechseln+.Schaufenstern>* {
  transform: translateX(-100%);
}

.Main__Kopf::after {
  content: '';
  height: 2px;
  width: 200%;
  left: 0;
  top: calc(100% - 2px);
  display: block;
  position: absolute;
  background: var(--Kopfzeilenfarbe);
  transition: transform .4s cubic-bezier(0.86, 0, 0.07, 1);
}

.Main__Kopf .Tasten {
  align-items: flex-end;
  height: 100%;
}

.Kopf__Thema-btn svg {
  margin-right: 5px;
  display: block;
  transition: transform .2s;
}

.Kopf__Thema-btn:hover svg,
.Kopf__Thema-btn:focus svg {
  transform: scale(1.1);
}

.Kopf__Thema-btn.btn--rotate:hover svg,
.Kopf__Thema-btn.btn--rotate:focus svg {
  transform: rotate(90deg);
}

.Kopf__Thema-btn.btn--tomate {
  background-color: tomato;
}

.Kopf__Thema-btn:not(:last-of-type) {
  margin-right: 10px;
}

.Kopf__Thema-btn {
  padding: 4px 10px;
  border: 0;
  border-radius: 3px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  color: white;
  font-weight: bold;
  font-size: 0.75rem;
  text-transform: uppercase;
  background-color: var(--Sendungen);
}

.Einstellungen.thema-einstellungen>*:not(nav) {
  transform: translateX(-100%);
}

.Schaufenstern {
  flex: 1;
  overflow: hidden;
}

.Schaufenstern>* {
  flex: 1 0 auto;
  position: relative;
  padding-top: 30px;
  width: 100%;
  overflow: hidden;
  transition: transform .4s cubic-bezier(0.86, 0, 0.07, 1);
}

.beschreibung__inhalt>*:first-child {
  margin-top: 0;
}

.beschreibung__inhalt>* {
  margin: .5em 0;
}

.inhalt__Wert {
  margin-left: .5em;
  margin-top: -.5em;
}

.inhalt__label {
  text-transform: uppercase;
  font-weight: bold;
}

@keyframes heartBeat {
  0% {
    transform: scale(1)
  }

  14% {
    transform: scale(1.3)
  }

  28% {
    transform: scale(1)
  }

  42% {
    transform: scale(1.3)
  }

  70% {
    transform: scale(1)
  }
}