.Viewer svg {
  display: block;
}

.Viewer__Bild img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  object-position: center;
}

.Viewer__Bild {
  flex: 1;
  margin: 0;
  background-color: #212121;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  min-width: 350px;
}

.Viewer__Handlugen {
  display: flex;
  padding: 0.5em 1em 0;
}

.Viewer .Sterntaster:not([Liebling]):focus,
.Viewer .Sterntaster:not([Liebling]):hover {
  transform: scale(1.1);
}

.Viewer .Sterntaster {
  transition: transform .2s;
}

.Viewer__beschreibung {
  width: 40%;
  display: flex;
  flex-direction: column;
}

.Viewer__beschreibung hr {
  background-color: transparent;
  height: 1px;
  border: 0;
  margin: 0.5em;
}

.Viewer__schließen {
  width: 2em;
  display: block;
  margin: 0 0 0 auto;
  background-color: transparent;
  padding: 0;
  border: 0;
}

.Viewer__schließen:hover {
  color: var(--Hover-Farbe);
}

.Viewer .beschreibung__inhalt {
  margin: 1em;
  overflow: auto;
  flex: 1 0 0;
}